<footer class="footer">
    <div class="container-fluid"> 
            <nav class="pull-left">
                    <!-- <ul>
                        <li>
                            <a href="#">
                                        Home
                                    </a>
                        </li>
                        <li>
                            <a href="#">
                                        Company
                                    </a>
                        </li>
                        <li>
                            <a href="#">
                                        Portfolio
                                    </a>
                        </li>
                        <li>
                            <a href="#">
                                       Blog
                                    </a>
                        </li>
                    </ul> -->
                </nav>
                <p class="copyright pull-right">
                    &copy; 2017 <a href=#>PNG</a>, simple angular app
                </p>
  
    </div>
</footer>