<div class="container">
    <div class="row p-5 no-padding">
        <div class="col-lg-12">
            <div class="_page_title fade-bottom-2">
                <h1>{{ title }}</h1>
            </div>
            <hr>
        </div>
    </div>
    <app-loader *ngIf="!loaded"></app-loader>
    <div class="row" *ngIf="loaded">
        <div class="col-lg-4 " *ngFor="let product of products">
            <div class="_product_wrapper">
                <div class="_product">
                    <div class="_product_title">
                        <h1>{{ product.p_name }}</h1>
                    </div>
                    <div class="_product_description">
                        <p>{{ product.p_desc }}</p>
                    </div>
                </div>
                <div class="_product_btn">
                    <div class="row no-margin">
                        <div class="col-lg-6 no-padding">
                            <button class="btn btn-primary">Add to cart</button>
                        </div>
                        <div class="col-lg-6  no-padding">
                            <button class="btn btn-details" [routerLink]="['/shop', product.PID]">Details</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /.container -->