<div class="content animate-fade-up">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">{{ title }}</h4>
                        <p class="category">Here is a subtitle for this table</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <div class="content">
                            <form (ngSubmit)="saveForm(productForm.value)" [formGroup]="productForm" autocomplete="off" novalidate>
                                <div class="form-group" [ngClass]="{'has-error': validateName()}">
                                    <label for="name">Name</label>
                                    <em *ngIf="validateName() && (submitted || productForm.controls.p_name.errors.required) ">*Required</em>
                                    <em *ngIf="validateName() && productForm.controls.p_name.errors.pattern">Must start with a letter</em>
                                    <input name="p_name" formControlName="p_name" id="name" type="text" class="form-control" placeholder="product" />
                                </div>

                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <input formControlName="p_desc" id="description" type="text" class="form-control" placeholder="description" />
                                </div>

                                <div class="form-group">
                                    <label for="category">Category</label>
                                    <select formControlName="p_category_id" id="category" type="text" class="form-control">
                                     <option value="1">1</option>
                                   </select>
                                </div>

                                <div class="form-group" [ngClass]="{'has-error': validateBrand()}">
                                    <label for="brand">Brand</label>
                                    <em *ngIf="validateBrand()">*Required</em>
                                    <input formControlName="p_brand" id="brand" type="text" class="form-control" placeholder="brand" />
                                </div>

                                <button type="submit" class="btn btn-primary">Add</button>
                                <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>