<div class="content animate-fade-up">
  <div class="container-fluid">
      <div class="row">
        

          <div class="col-md-12">
              <div class="card">
                  <div class="header">
                      <h4 class="title">Edit Profile</h4>
                      <p class="category">update information</p>
                  </div>
                  <div class="content">
                    <!-- <form name="form" (ngSubmit)="userform.form.valid && login()" #userform="ngForm" novalidate>
                        <div class="form-group" [ngClass]="{ 'has-error': userform.submitted && !fullname.valid }">
                            <label for="fullname">Fullname</label>
                            <input type="text" class="form-control" name="fullname" [(ngModel)]="currentUser.fullname" #fullname="ngModel" required />
                            <div *ngIf="userform.submitted && !fullname.valid" class="help-block">Fullname is required</div>
                        </div>
                      <div class="form-group" [ngClass]="{ 'has-error': userform.submitted && !username.valid }">
                          <label for="username">Username</label>
                          <input type="text" class="form-control" name="username" [(ngModel)]="currentUser.username" #username="ngModel" required />
                          <div *ngIf="userform.submitted && !username.valid" class="help-block">Username is required</div>
                      </div>
                      <div class="form-group" [ngClass]="{ 'has-error': userform.submitted && !password.valid }">
                          <label for="password">Password</label>
                          <input type="password" class="form-control" name="password" [(ngModel)]="userData.password" #password="ngModel" required />
                          <div *ngIf="userform.submitted && !password.valid" class="help-block">Password is required</div>
                      </div>
                      <div class="form-group">
                          <button [disabled]="loading" class="btn btn-primary">Update</button>
                          <div *ngIf="loading" >
                              loading
                          </div>
                          <a [routerLink]="['/']" class="btn btn-primary">Cancel</a>
                      </div>
                  </form> -->
                  <form [formGroup]="profileForm" autocomplete="off" novalidate>
                      <div class="form-group">
                        <label for="firstName">First Name:</label>
                        <input formControlName="firstname" id="firstName" type="text" class="form-control" placeholder="First Name..." />
                      </div>
                      <div class="form-group">
                        <label for="lastName">Last Name:</label>
                        <input formControlName="lastname" id="lastName" type="text" class="form-control" placeholder="Last Name..." />
                      </div>
                
                      <button type="submit" class="btn btn-primary">Save</button>
                      <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
                    </form>
                  </div>
              </div>
          </div>
      </div>



      
  </div>
</div>