<div class="full-page login-page">
    <div class="content animate-fade-up">
        <div class="container-fluid">
            <h1>Login</h1>
            <hr>
            <div class="col-md-4">
                <form name="form" (ngSubmit)="loginform.form.valid && login()" #loginform="ngForm" novalidate>
                    <div class="form-group" [ngClass]="{ 'has-error': loginform.submitted && !username.valid }">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" name="username" [(ngModel)]="userData.username" #username="ngModel" required />
                        <div *ngIf="loginform.submitted && !username.valid" class="help-block">Username is required</div>
                    </div>
                    <div class="form-group" [ngClass]="{ 'has-error': loginform.submitted && !password.valid }">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="password" [(ngModel)]="userData.password" #password="ngModel" required />
                        <div *ngIf="loginform.submitted && !password.valid" class="help-block">Password is required</div>
                    </div>
                    <div class="form-group">
                        <button [disabled]="loading" class="btn btn-primary">Login</button>
                        <div *ngIf="loading" >
                            loading
                        </div>
                        <a [routerLink]="['/register']" class="btn btn-link">Register</a>
                    </div>
                </form>
            </div>

        </div>

    </div>
</div>