<div class="content animate-fade-up">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">{{ title }}</h4>
                        <p class="category">Here is a subtitle for this table</p>
                    </div>

                    <div class="content table-responsive table-full-width">
                        <div class="floating-button">
                            <button [routerLink]="['/product/new']" type="button" class="btn btn-primary btn-circle btn-xl"><i class="glyphicon glyphicon-plus"></i></button>

                        </div>
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Options</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let product of products">
                                    <td>{{ product.PID }}</td>
                                    <td>{{ product.p_name }}</td>
                                    <td>{{ product.p_desc }}</td>
                                    <td>
                                        <button (click)="showModal=true;prod=product" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">
                                            Edit
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- <ul class="items">
                            <li *ngFor="let post of posts">
                                <span>{{post.title}}</span>
                            </li>
                        </ul> -->

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div [hidden]="!showModal" class="modal animate-fade-up bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ prod.p_name }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form name="form" #editProduct="ngForm" novalidate>
                    <div class="form-group">
                        <label for="recipient-name" class="form-control-label">Name</label>
                        <input required type="text" [(ngModel)]="prod.p_name" name="p_name" class="form-control" id="recipient-name" [value]="prod.p_name">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="form-control-label">Description</label>
                        <textarea name="p_desc" [(ngModel)]="prod.p_desc" class="form-control" id="message-text">{{ prod.p_desc }}</textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" (click)="updateProduct()" class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
</div>