

<div class="wrapper" [ngClass]="{'wrapper-full-page': !auth.authenticateUser()}">
    
    
        <app-sidebar *ngIf="auth.authenticateUser()" ></app-sidebar>
    
        <div class="main-panel" id="page-container">
    
            <app-header *ngIf="auth.authenticateUser()" ></app-header>
            <alert></alert>
            <router-outlet></router-outlet> 
            <app-footer *ngIf="auth.authenticateUser()" ></app-footer>
    
        </div>
    </div>