<div class="sidebar" data-color="blue"  data-image="/assets/theme/2018/img/sidebar-5.jpg">

    <!--
  
          Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
          Tip 2: you can also add an image using data-image tag
  
      -->


    <div class="sidebar-wrapper">
        <div class="logo">
            <a class="simple-text">PNG</a>
        </div>

        <ul class="nav">
            <li>
                <a [routerLink]="['']" [routerLinkActive]="['active']">
                    <i class="pe-7s-graph"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li>
                <a [routerLink]="['/customers']" [routerLinkActive]="['active']">
                    <i class="pe-7s-user"></i>
                    <p>Customers</p>
                </a>
            </li>
            <li>
                <a [routerLink]="['/products']" [routerLinkActive]="['active']">
                    <i class="pe-7s-note2"></i>
                    <p>Products</p>
                </a>
            </li>

            <!-- <li>
                <a href="notifications.html">
                    <i class="pe-7s-bell"></i>
                    <p>Notifications</p>
                </a>
            </li> -->
            <li class="active-pro">
                <a [routerLink]="['/settings']">
                    <i class="pe-7s-settings"></i>
                    <p>Settings</p>
                </a>
            </li>
        </ul>
    </div>
</div>