/* You can add global styles to this file, and also import other style files */


/* 
.navbar {
  color: #fff;
  text-align: center;
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957);
}

.cursor {
  cursor: pointer;
}

._product_wrapper {
  box-shadow: 1px 1px 20px 2px rgba(0, 0, 0, 0.08);
  min-height: 340px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

._product {
  padding: 30px;
}

.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

._product_btn {
  bottom: 0;
  position: absolute;
  width: 100%;
}

._product_btn button {
  width: 100%;
  border-radius: 0;
  outline: none;
  cursor: pointer;
}

.no-margin {
  margin-left: 0;
  margin-right: 0;
}

.btn {
  cursor: pointer;
} */

.main-panel .content {
    padding: 30px 15px;
    min-height: calc(100% - 123px);
}

.fade-bottom {
    opacity: 1;
    -webkit-animation: fadeInBottom 1s 1 cubic-bezier(0.77, 0, 0.175, 1);
    -moz-animation: fadeInBottom 1s 1 cubic-bezier(0.77, 0, 0.175, 1);
    -o-animation: fadeInBottom 1s 1 cubic-bezier(0.77, 0, 0.175, 1);
    animation: fadeInBottom 1s 1 cubic-bezier(0.77, 0, 0.175, 1);
}

.fade-bottom-1 {
    opacity: 1;
    -webkit-animation: fadeInBottom 1s 1 cubic-bezier(0.77, 0, 0.175, 1);
    -moz-animation: fadeInBottom 1s 1 cubic-bezier(0.77, 0, 0.175, 1);
    -o-animation: fadeInBottom 1s 1 cubic-bezier(0.77, 0, 0.175, 1);
    animation: fadeInBottom 1s 1 cubic-bezier(0.77, 0, 0.175, 1);
}

.fade-bottom-2 {
    opacity: 1;
    -webkit-animation: fadeInBottom 1.25s 1 cubic-bezier(0.77, 0, 0.175, 1);
    -moz-animation: fadeInBottom 1.25s 1 cubic-bezier(0.77, 0, 0.175, 1);
    -o-animation: fadeInBottom 1.25s 1 cubic-bezier(0.77, 0, 0.175, 1);
    animation: fadeInBottom 1.25s 1 cubic-bezier(0.77, 0, 0.175, 1);
}

.fade-bottom-3 {
    opacity: 1;
    -webkit-animation: fadeInBottom 1.5s 1 cubic-bezier(0.77, 0, 0.175, 1);
    -moz-animation: fadeInBottom 1.5s 1 cubic-bezier(0.77, 0, 0.175, 1);
    -o-animation: fadeInBottom 1.5s 1 cubic-bezier(0.77, 0, 0.175, 1);
    animation: fadeInBottom 1.5s 1 cubic-bezier(0.77, 0, 0.175, 1);
}

.fade-bottom-4 {
    opacity: 1;
    -webkit-animation: fadeInBottom 1.75s 1 cubic-bezier(0.77, 0, 0.175, 1);
    -moz-animation: fadeInBottom 1.75s 1 cubic-bezier(0.77, 0, 0.175, 1);
    -o-animation: fadeInBottom 1.75s 1 cubic-bezier(0.77, 0, 0.175, 1);
    animation: fadeInBottom 1.75s 1 cubic-bezier(0.77, 0, 0.175, 1);
}

.fade-bottom-5 {
    opacity: 1;
    -webkit-animation: fadeInBottom 2s 1 cubic-bezier(0.77, 0, 0.175, 1);
    -moz-animation: fadeInBottom 2s 1 cubic-bezier(0.77, 0, 0.175, 1);
    -o-animation: fadeInBottom 2s 1 cubic-bezier(0.77, 0, 0.175, 1);
    animation: fadeInBottom 2s 1 cubic-bezier(0.77, 0, 0.175, 1);
}

.fade-bottom-6 {
    opacity: 1;
    -webkit-animation: fadeInBottom 2.25s 1 cubic-bezier(0.77, 0, 0.175, 1);
    -moz-animation: fadeInBottom 2.25s 1 cubic-bezier(0.77, 0, 0.175, 1);
    -o-animation: fadeInBottom 2.25s 1 cubic-bezier(0.77, 0, 0.175, 1);
    animation: fadeInBottom 2.25s 1 cubic-bezier(0.77, 0, 0.175, 1);
}

.fade-bottom-6 {
    opacity: 1;
    -webkit-animation: fadeInBottom 2.5s 1 cubic-bezier(0.77, 0, 0.175, 1);
    -moz-animation: fadeInBottom 2.5s 1 cubic-bezier(0.77, 0, 0.175, 1);
    -o-animation: fadeInBottom 2.5s 1 cubic-bezier(0.77, 0, 0.175, 1);
    animation: fadeInBottom 2.5s 1 cubic-bezier(0.77, 0, 0.175, 1);
}

.fade-bottom-7 {
    opacity: 1;
    -webkit-animation: fadeInBottom 2.75s 1 cubic-bezier(0.77, 0, 0.175, 1);
    -moz-animation: fadeInBottom 2.75s 1 cubic-bezier(0.77, 0, 0.175, 1);
    -o-animation: fadeInBottom 2.75s 1 cubic-bezier(0.77, 0, 0.175, 1);
    animation: fadeInBottom 2.75s 1 cubic-bezier(0.77, 0, 0.175, 1);
}

.fade-bottom-8 {
    opacity: 1;
    -webkit-animation: fadeInBottom 3s 1 cubic-bezier(0.77, 0, 0.175, 1);
    -moz-animation: fadeInBottom 3s 1 cubic-bezier(0.77, 0, 0.175, 1);
    -o-animation: fadeInBottom 3s 1 cubic-bezier(0.77, 0, 0.175, 1);
    animation: fadeInBottom 3s 1 cubic-bezier(0.77, 0, 0.175, 1);
}

.fade-bottom-9 {
    opacity: 1;
    -webkit-animation: fadeInBottom 3.25s 1 cubic-bezier(0.77, 0, 0.175, 1);
    -moz-animation: fadeInBottom 3.25s 1 cubic-bezier(0.77, 0, 0.175, 1);
    -o-animation: fadeInBottom 3.25s 1 cubic-bezier(0.77, 0, 0.175, 1);
    animation: fadeInBottom 3.25s 1 cubic-bezier(0.77, 0, 0.175, 1);
}

@-webkit-keyframes fadeInBottom {
    0% {
        opacity: 0;
        -webkit-transform: translatey(60%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translatey(0);
    }
}

@-moz-keyframes fadeInBottom {
    0% {
        opacity: 0;
        -moz-transform: translatey(60%);
    }
    100% {
        opacity: 1;
        -moz-transform: translatey(0);
    }
}

@-o-keyframes fadeInBottom {
    0% {
        opacity: 0;
        -o-transform: translatey(60%);
    }
    100% {
        opacity: 1;
        -o-transform: translatey(0);
    }
}

@keyframes fadeInBottom {
    0% {
        opacity: 0;
        transform: translatey(60%);
    }
    100% {
        opacity: 1;
        transform: translatey(0);
    }
}

.pull-right {
    float: right;
}

@-webkit-keyframes fade-up-enter {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
        -ms-transform: translateY(20px);
        -o-transform: translateY(20px);
        transform: translateY(20px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0)
    }
}

@-moz-keyframes fade-up-enter {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
        -ms-transform: translateY(20px);
        -o-transform: translateY(20px);
        transform: translateY(20px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px)
    }
}

@-o-keyframes fade-up-enter {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
        -ms-transform: translateY(20px);
        -o-transform: translateY(20px);
        transform: translateY(20px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px)
    }
}

@keyframes fade-up-enter {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
        -ms-transform: translateY(20px);
        -o-transform: translateY(20px);
        transform: translateY(20px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px)
    }
}

@-webkit-keyframes fade-up-leave {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px)
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        -moz-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        -o-transform: translateY(-20px);
        transform: translateY(-20px)
    }
}

@-moz-keyframes fade-up-leave {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px)
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        -moz-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        -o-transform: translateY(-20px);
        transform: translateY(-20px)
    }
}

@-o-keyframes fade-up-leave {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px)
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        -moz-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        -o-transform: translateY(-20px);
        transform: translateY(-20px)
    }
}

@keyframes fade-up-leave {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px)
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        -moz-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        -o-transform: translateY(-20px);
        transform: translateY(-20px)
    }
}

.animate-fade-up {
    -webkit-animation: .35s fade-up-enter;
    -moz-animation: .35s fade-up-enter;
    -ms-animation: .35s fade-up-enter;
    -o-animation: .35s fade-up-enter;
    animation: .35s fade-up-enter
}

@-webkit-keyframes animate-flip-y-enter {
    0% {
        -webkit-transform: perspective(3000px) rotateY(90deg);
        -moz-transform: perspective(3000px) rotateY(90deg);
        -ms-transform: perspective(3000px) rotateY(90deg);
        -o-transform: perspective(3000px) rotateY(90deg);
        transform: perspective(3000px) rotateY(90deg);
        opacity: 0
    }
    100% {
        -webkit-transform: perspective(3000px) rotateY(0deg);
        -moz-transform: perspective(3000px) rotateY(0deg);
        -ms-transform: perspective(3000px) rotateY(0deg);
        -o-transform: perspective(3000px) rotateY(0deg);
        transform: perspective(3000px) rotateY(0deg);
        opacity: 1
    }
}

@-moz-keyframes animate-flip-y-enter {
    0% {
        -webkit-transform: perspective(3000px) rotateY(90deg);
        -moz-transform: perspective(3000px) rotateY(90deg);
        -ms-transform: perspective(3000px) rotateY(90deg);
        -o-transform: perspective(3000px) rotateY(90deg);
        transform: perspective(3000px) rotateY(90deg);
        opacity: 0
    }
    100% {
        -webkit-transform: perspective(3000px) rotateY(0deg);
        -moz-transform: perspective(3000px) rotateY(0deg);
        -ms-transform: perspective(3000px) rotateY(0deg);
        -o-transform: perspective(3000px) rotateY(0deg);
        transform: perspective(3000px) rotateY(0deg);
        opacity: 1
    }
}

@-o-keyframes animate-flip-y-enter {
    0% {
        -webkit-transform: perspective(3000px) rotateY(90deg);
        -moz-transform: perspective(3000px) rotateY(90deg);
        -ms-transform: perspective(3000px) rotateY(90deg);
        -o-transform: perspective(3000px) rotateY(90deg);
        transform: perspective(3000px) rotateY(90deg);
        opacity: 0
    }
    100% {
        -webkit-transform: perspective(3000px) rotateY(0deg);
        -moz-transform: perspective(3000px) rotateY(0deg);
        -ms-transform: perspective(3000px) rotateY(0deg);
        -o-transform: perspective(3000px) rotateY(0deg);
        transform: perspective(3000px) rotateY(0deg);
        opacity: 1
    }
}

@keyframes animate-flip-y-enter {
    0% {
        -webkit-transform: perspective(3000px) rotateY(90deg);
        -moz-transform: perspective(3000px) rotateY(90deg);
        -ms-transform: perspective(3000px) rotateY(90deg);
        -o-transform: perspective(3000px) rotateY(90deg);
        transform: perspective(3000px) rotateY(90deg);
        opacity: 0
    }
    100% {
        -webkit-transform: perspective(3000px) rotateY(0deg);
        -moz-transform: perspective(3000px) rotateY(0deg);
        -ms-transform: perspective(3000px) rotateY(0deg);
        -o-transform: perspective(3000px) rotateY(0deg);
        transform: perspective(3000px) rotateY(0deg);
        opacity: 1
    }
}

@-webkit-keyframes animate-flip-y-leave {
    0% {
        -webkit-transform: perspective(3000px) rotateY(0deg);
        -moz-transform: perspective(3000px) rotateY(0deg);
        -ms-transform: perspective(3000px) rotateY(0deg);
        -o-transform: perspective(3000px) rotateY(0deg);
        transform: perspective(3000px) rotateY(0deg);
        opacity: 1
    }
    100% {
        -webkit-transform: perspective(3000px) rotateY(-90deg);
        -moz-transform: perspective(3000px) rotateY(-90deg);
        -ms-transform: perspective(3000px) rotateY(-90deg);
        -o-transform: perspective(3000px) rotateY(-90deg);
        transform: perspective(3000px) rotateY(-90deg);
        opacity: 0
    }
}

@-moz-keyframes animate-flip-y-leave {
    0% {
        -webkit-transform: perspective(3000px) rotateY(0deg);
        -moz-transform: perspective(3000px) rotateY(0deg);
        -ms-transform: perspective(3000px) rotateY(0deg);
        -o-transform: perspective(3000px) rotateY(0deg);
        transform: perspective(3000px) rotateY(0deg);
        opacity: 1
    }
    100% {
        -webkit-transform: perspective(3000px) rotateY(-90deg);
        -moz-transform: perspective(3000px) rotateY(-90deg);
        -ms-transform: perspective(3000px) rotateY(-90deg);
        -o-transform: perspective(3000px) rotateY(-90deg);
        transform: perspective(3000px) rotateY(-90deg);
        opacity: 0
    }
}

@-o-keyframes animate-flip-y-leave {
    0% {
        -webkit-transform: perspective(3000px) rotateY(0deg);
        -moz-transform: perspective(3000px) rotateY(0deg);
        -ms-transform: perspective(3000px) rotateY(0deg);
        -o-transform: perspective(3000px) rotateY(0deg);
        transform: perspective(3000px) rotateY(0deg);
        opacity: 1
    }
    100% {
        -webkit-transform: perspective(3000px) rotateY(-90deg);
        -moz-transform: perspective(3000px) rotateY(-90deg);
        -ms-transform: perspective(3000px) rotateY(-90deg);
        -o-transform: perspective(3000px) rotateY(-90deg);
        transform: perspective(3000px) rotateY(-90deg);
        opacity: 0
    }
}

@keyframes animate-flip-y-leave {
    0% {
        -webkit-transform: perspective(3000px) rotateY(0deg);
        -moz-transform: perspective(3000px) rotateY(0deg);
        -ms-transform: perspective(3000px) rotateY(0deg);
        -o-transform: perspective(3000px) rotateY(0deg);
        transform: perspective(3000px) rotateY(0deg);
        opacity: 1
    }
    100% {
        -webkit-transform: perspective(3000px) rotateY(-90deg);
        -moz-transform: perspective(3000px) rotateY(-90deg);
        -ms-transform: perspective(3000px) rotateY(-90deg);
        -o-transform: perspective(3000px) rotateY(-90deg);
        transform: perspective(3000px) rotateY(-90deg);
        opacity: 0
    }
}

.animate-flip-y.ng-enter {
    -webkit-animation: .5s animate-flip-y-enter;
    -moz-animation: .5s animate-flip-y-enter;
    -ms-animation: .5s animate-flip-y-enter;
    -o-animation: .5s animate-flip-y-enter;
    animation: .5s animate-flip-y-enter
}

.animate-flip-y.ng-leave {
    -webkit-animation: .5s animate-flip-y-leave;
    -moz-animation: .5s animate-flip-y-leave;
    -ms-animation: .5s animate-flip-y-leave;
    -o-animation: .5s animate-flip-y-leave;
    animation: .5s animate-flip-y-leave
}

@-webkit-keyframes slideInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-2000px);
        -moz-transform: translateY(-2000px);
        -ms-transform: translateY(-2000px);
        -o-transform: translateY(-2000px);
        transform: translateY(-2000px)
    }
    100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0)
    }
}

@-moz-keyframes slideInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-2000px);
        -moz-transform: translateY(-2000px);
        -ms-transform: translateY(-2000px);
        -o-transform: translateY(-2000px);
        transform: translateY(-2000px)
    }
    100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0)
    }
}

@-o-keyframes slideInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-2000px);
        -moz-transform: translateY(-2000px);
        -ms-transform: translateY(-2000px);
        -o-transform: translateY(-2000px);
        transform: translateY(-2000px)
    }
    100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes slideInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-2000px);
        -moz-transform: translateY(-2000px);
        -ms-transform: translateY(-2000px);
        -o-transform: translateY(-2000px);
        transform: translateY(-2000px)
    }
    100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0)
    }
}

@-webkit-keyframes slideOutUp {
    0% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0)
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(-2000px);
        -moz-transform: translateY(-2000px);
        -ms-transform: translateY(-2000px);
        -o-transform: translateY(-2000px);
        transform: translateY(-2000px)
    }
}

@-moz-keyframes slideOutUp {
    0% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0)
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(-2000px);
        -moz-transform: translateY(-2000px);
        -ms-transform: translateY(-2000px);
        -o-transform: translateY(-2000px);
        transform: translateY(-2000px)
    }
}

@-o-keyframes slideOutUp {
    0% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0)
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(-2000px);
        -moz-transform: translateY(-2000px);
        -ms-transform: translateY(-2000px);
        -o-transform: translateY(-2000px);
        transform: translateY(-2000px)
    }
}

@keyframes slideOutUp {
    0% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0)
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(-2000px);
        -moz-transform: translateY(-2000px);
        -ms-transform: translateY(-2000px);
        -o-transform: translateY(-2000px);
        transform: translateY(-2000px)
    }
}

h4.title {
    font-size: 40px;
    line-height: normal;
    font-weight: bold !important;
}

.wrapper-full-page .main-panel {
    width: 100%;
}

.required {
    border: 1px solid #F00;
}

.floating-button {
    position: fixed;
    bottom: 30px;
    right: 40px;
    z-index: 9;
}

.floating-button .btn {
    border-radius: 100%;
    width: 60px;
    height: 60px;
    padding: 0;
    opacity: 1;
    /* background: inherit; */
}

.floating-button .btn.btn-primary {
    background: #1f77d0;
    color: #FFF;
    border: 0;
    box-shadow: 2px 4px 19px 0px rgba(0, 0, 0, 0.35);
}

.modal-dialog {
    margin-top: 100px;
}

.modal-backdrop {
    display: none;
}