<div class="content animate-fade-up">
    <div class="container-fluid">
        <div class="row">
          

            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Dashboard</h4>
                        <p class="category">Daily Sales</p>
                    </div>
                    <div class="content">
                       
                       
                    </div>
                </div>
            </div>
        </div>



        
    </div>
</div>